@require "vars.styl"

$itemHeight = 125px
$radiusSize = 3px
$spacerSize = 2px

.selected{
    background-color white   
    color $darkAccent 
}

.not-selected{
    background-color black    
}

.ResumeItems{
    background-color white
    width 1024px
    height $itemHeight
    margin auto auto
    display flex
    align-items center
    justify-content center
    align-self center
    flex-direction row
}

.ResumeItemDetails{
    width 1000px
    margin 0px auto
    background-color whites
    color white
    border-radius $radiusSize
    flex-wrap wrap

    .coreInfo{
        width 100%
        height 50px
        line-height 50px
        border-top $spacerSize solid $darkAccent
        background-color black
        margin-bottom $spacerSize solid $darkAccent
        padding 5px 5px

        div{
            color white
            padding 0px 25px
            box-sizing border-box
            text-indent 0px
            font-size 1.2rem
            float left
            margin-right 10px
        }
    }

    .description-text{
        float left
        display inline-block
        flex-grow 0
        flex-shrink 0
        width 100%
        clear both
        border-bottom 1px solid #eee
        padding-bottom 20px
        margin-bottom 20px
    }


    .description-two-column{
        display flex
        flex-direction row    
        width 100%
    }

    .description-column{
        display flex 
        flex-shrink 1
        width 100%
        flex-direction column
        justify-content space-between
        margin-right 15px

    img, video, iframe{
        margin 0px auto
        width 100%
        height 300px
    }

    img{
        flex-grow 0
        flex-shrink 1
    }

    

    .description-video{
        float left    
        clear both
    }

            
}

    .description{
        color $darkAccent
        display flex
        float left
        flex-direction row
        flex-wrap  wrap
        padding-top 0px
        padding 20px 25px
        background-color white
        width 100%
        font-size 1.3rem
        line-height 2rem
    }

    .title{


    }
}

.bullets{
    list-style-type none
    clear both
    margin-top 10px

    li {
        float left
        clear both
        background-color $lightAccent // rgba(0,0,0,.05)
        margin-bottom 5px
        padding 10px 10px
        color white

        .bullet-text{
            color white
            font-size 16px
        }
    }
}

@keyframes Bullet-In{
    0%{
        height 0px
        padding 0px 0px
    }    
    100%{
        height 20px
        padding 15px 15px
    }
}


.resItem{
    animation slideIn forwards
    float left
    width 0px
    height 0px
    color white
    white-space nowrap
    box-sizing border-box
    overflow hidden
    background-color white
    margin-right 10px
    cursor pointer
   
    .logo{
        float left
        width $itemHeight
        height $itemHeight
        background-position-x center
        background-position-y 150px
        background-size 75px 75px
        background-repeat no-repeat
        width $itemHeight
        box-sizing border-box
        height $itemHeight
        animation LogoEnter ease forwards
        transition all .3s ease
       // transform scale(1)
    }

    & .item-selected{
            border-bottom 5px solid $lightAccent
            
    }

    &  .item-not-selected{
            &:hover{
                border-bottom 5px solid $lightAccent
            }
        }
}

@keyframes LogoEnter{
    0%{
        background-position-y: 200px
    }
    100%{
        background-position-y: 30px
    }
}


@keyframes slideIn{
    0%{
        width 0px
        height 0px
    }
    50%{
        height 0px
        width $itemHeight
    }
    100%{
        width $itemHeight
        height $itemHeight
    }
}


@keyframes coreInfo-In{
    0%{
        height 0px
        background-color blue
    }
    100%{
        height 100px
        background-color red
    }
}

.visible{
    display flex

}

.invisible{
    display none
}