@require "vars.styl"

.skill{
    background-color $darkAccent
    padding 10px 10px
    float left
    color $darkAccent
    clear both
    color white
}

.Skills{

    display flex
    justify-content space-between
    background-color: white
    padding 25px 25px

    div{
        margin-bottom 10px
    }
    .skill-type{
        float left
        clear both
        padding 20px 20px
        background-color $lightAccent
    }    
}