.ResumeItems {
  background-color: #fff;
  width: 1024px;
  height: 125px;
  margin: auto auto;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  flex-direction: row;
}
.ResumeItemDetails-Expanded {
  height: 530px;
}
.ResumeItemDetails-Shrunk {
  height: 0px;
}
.description {
  color: #00799e;
  display: flex;
  float: left;
  flex-direction: row;
  flex-wrap: wrap;
  box-sizing: border-box;
  align-content: flex-start;
  padding-top: 0px;
  padding: 20px 25px;
  background-color: #fff;
  width: 100%;
  line-height: 2rem;
  min-height: 520px;
}
.ResumeItemDetails {
  width: 1000px;
  background-color: whites;
  color: #fff;
  border-radius: 3px;
  flex-wrap: wrap;
  animation: ResumeItemDetails-In 1s ease;
  animation-fill-mode: forwards;
  overflow: hidden;
  transition: all 0.5s ease;
  margin: 0px auto;
}
.ResumeItemDetails .coreInfo {
  width: 100%;
  height: 50px;
  line-height: 50px;
  border-top: 2px solid #00799e;
  background-color: #000;
  margin-bottom: 2px solid #00799e;
  padding: 5px 5px;
}
.ResumeItemDetails .coreInfo div {
  color: #fff;
  padding: 0px 25px;
  box-sizing: border-box;
  text-indent: 0px;
  float: left;
  margin-right: 10px;
}
.ResumeItemDetails .description-text {
  float: left;
  display: inline-block;
  flex-grow: 0;
  flex-shrink: 1;
  width: 100%;
  clear: both;
  border-bottom: 1px solid #eee;
  padding-bottom: 20px;
  margin-bottom: 25px;
}
.ResumeItemDetails .description-two-column {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.ResumeItemDetails .description-column {
  display: flex;
  flex-shrink: 1;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 15px;
}
.ResumeItemDetails .description-column img,
.ResumeItemDetails .description-column video,
.ResumeItemDetails .description-column iframe {
  margin: 0px auto;
  width: 100%;
  height: 300px;
  box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.2);
}
.ResumeItemDetails .description-column img {
  flex-grow: 0;
  flex-shrink: 1;
}
.ResumeItemDetails .description-column .description-video {
  float: left;
  clear: both;
}
.bullets {
  list-style-type: square;
  clear: both;
  margin-top: 10px;
  margin-left: 15px;
}
.bullets li {
  float: left;
  clear: both;
  margin-bottom: 5px;
  color: #00799e;
}
.bullets li .bullet-text {
  color: #00799e;
}
.resItem {
  animation: slideIn forwards;
  float: left;
  width: 0px;
  height: 0px;
  color: #fff;
  white-space: nowrap;
  box-sizing: border-box;
  overflow: hidden;
  background-color: #fff;
  margin-right: 10px;
  cursor: pointer;
}
.resItem .logo {
  float: left;
  width: 125px;
  height: 125px;
  background-position-x: center;
  background-position-y: 150px;
  background-size: 75px 75px;
  background-repeat: no-repeat;
  width: 125px;
  box-sizing: border-box;
  height: 125px;
  animation: LogoEnter ease forwards;
  transition: all 0.3s ease;
}
.resItem .item-selected {
  border-bottom: 5px solid #57d7ff;
}
.resItem .item-not-selected:hover {
  border-bottom: 5px solid #57d7ff;
}
.visible {
  display: flex;
}
.invisible {
  display: none;
}
@-moz-keyframes Bullet-In {
  0% {
    height: 0px;
    padding: 0px 0px;
  }
  100% {
    height: 20px;
    padding: 15px 15px;
  }
}
@-webkit-keyframes Bullet-In {
  0% {
    height: 0px;
    padding: 0px 0px;
  }
  100% {
    height: 20px;
    padding: 15px 15px;
  }
}
@-o-keyframes Bullet-In {
  0% {
    height: 0px;
    padding: 0px 0px;
  }
  100% {
    height: 20px;
    padding: 15px 15px;
  }
}
@keyframes Bullet-In {
  0% {
    height: 0px;
    padding: 0px 0px;
  }
  100% {
    height: 20px;
    padding: 15px 15px;
  }
}
@-moz-keyframes LogoEnter {
  0% {
    background-position-y: 200px;
  }
  100% {
    background-position-y: 30px;
  }
}
@-webkit-keyframes LogoEnter {
  0% {
    background-position-y: 200px;
  }
  100% {
    background-position-y: 30px;
  }
}
@-o-keyframes LogoEnter {
  0% {
    background-position-y: 200px;
  }
  100% {
    background-position-y: 30px;
  }
}
@keyframes LogoEnter {
  0% {
    background-position-y: 200px;
  }
  100% {
    background-position-y: 30px;
  }
}
@-moz-keyframes slideIn {
  0% {
    width: 0px;
    height: 0px;
  }
  50% {
    height: 0px;
    width: 125px;
  }
  100% {
    width: 125px;
    height: 125px;
  }
}
@-webkit-keyframes slideIn {
  0% {
    width: 0px;
    height: 0px;
  }
  50% {
    height: 0px;
    width: 125px;
  }
  100% {
    width: 125px;
    height: 125px;
  }
}
@-o-keyframes slideIn {
  0% {
    width: 0px;
    height: 0px;
  }
  50% {
    height: 0px;
    width: 125px;
  }
  100% {
    width: 125px;
    height: 125px;
  }
}
@keyframes slideIn {
  0% {
    width: 0px;
    height: 0px;
  }
  50% {
    height: 0px;
    width: 125px;
  }
  100% {
    width: 125px;
    height: 125px;
  }
}
@-moz-keyframes coreInfo-In {
  0% {
    height: 0px;
    background-color: #00f;
  }
  100% {
    height: 100px;
    background-color: #f00;
  }
}
@-webkit-keyframes coreInfo-In {
  0% {
    height: 0px;
    background-color: #00f;
  }
  100% {
    height: 100px;
    background-color: #f00;
  }
}
@-o-keyframes coreInfo-In {
  0% {
    height: 0px;
    background-color: #00f;
  }
  100% {
    height: 100px;
    background-color: #f00;
  }
}
@keyframes coreInfo-In {
  0% {
    height: 0px;
    background-color: #00f;
  }
  100% {
    height: 100px;
    background-color: #f00;
  }
}
.Skills {
  display: flex;
  justify-content: space-between;
  padding: 25px 25px;
}
.Skills div {
  margin-bottom: 10px;
}
.Skills .skill-column {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  min-width: 300px;
}
.Skills .skill-column .skillbox {
  color: #00799e;
  height: 50px;
}
.Skills .skill-column .skillbox .skill {
  float: left;
  animation: Skill-In 1s ease forwards;
  height: 0px;
  overflow: hidden;
  background-color: #fff;
  margin-bottom: 15px;
}
.Skills .skill-type {
  float: left;
  clear: both;
  padding: 15px 15px;
  font-weight: 700;
  background-color: #57d7ff;
}
@-moz-keyframes Skill-In {
  0% {
    height: 0px;
    padding: 0px 0px;
  }
  100% {
    height: 20px;
    padding: 15px 15px;
  }
}
@-webkit-keyframes Skill-In {
  0% {
    height: 0px;
    padding: 0px 0px;
  }
  100% {
    height: 20px;
    padding: 15px 15px;
  }
}
@-o-keyframes Skill-In {
  0% {
    height: 0px;
    padding: 0px 0px;
  }
  100% {
    height: 20px;
    padding: 15px 15px;
  }
}
@keyframes Skill-In {
  0% {
    height: 0px;
    padding: 0px 0px;
  }
  100% {
    height: 20px;
    padding: 15px 15px;
  }
}
.Nav {
  height: 50px;
  display: flex;
  line-height: 50px;
  color: #fff;
  margin-bottom: 10px;
  align-items: center;
  justify-content: center;
  margin-top: 70px;
  padding: 0px 25px;
}
.Nav .icons {
  display: flex;
  align-items: center;
  flex-shrink: 1;
  flex-grow: 0;
  height: 40px;
}
.Nav .icons .icon {
  width: 40px;
  height: 40px;
  flex-shrink: 1;
  opacity: 0.3;
  margin-top: 20px;
  padding: 0px 0px;
  margin-left: 10px;
  fill: #fff;
  transition: opacity 0.2s ease;
}
.Nav .icons .icon:hover {
  opacity: 1;
}
.Nav .name {
  float: left;
  flex-basis: auto;
  flex-shrink: 0;
  font-size: 32px;
  font-weight: 800;
}
.Nav .email {
  float: right;
  flex-basis: auto;
  width: 1;
  flex-shrink: 0;
}
.menu {
  width: 100%;
  margin: 0px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  position: relative;
}
.menu .selected {
  background-color: #fff;
  color: #00799e;
}
.menu .not-selected {
  background-color: #00799e;
}
.menu-item {
  float: left;
  padding: 0px 25px;
  cursor: pointer;
  position: relative;
}
.menu-item:hover:after {
  background-color: #57d7ff;
  color: #fff;
  width: 100%;
  height: 5px;
  left: 0;
  bottom: 0;
  content: '';
  position: absolute;
}
.App {
  padding: 0px 0px;
  width: 100vw;
  height: 100vh;
  font-family: 'Open Sans';
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
}
html {
  background-color: #00799e;
  font-weight: 400;
}
.grain {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-image: url("/img/Grain-Texture-09.png");
  background-size: contain;
  background-position: center;
  opacity: 0.05;
}
.NameHolder {
  font-weight: 400;
  position: relative;
  color: #fff;
  height: 200px;
  width: 200px;
  margin: auto auto;
  overflow: hidden;
  border-bottom: 5px solid #57d7ff;
  animation-fill-mode: forwards;
}
.MyName {
  font-weight: bold;
  padding-left: 25px;
  padding-right: 25px;
  text-align: left;
  color: #fff;
  font-size: 45px;
  overflow: hidden;
  transition: height 1s ease;
}
.Big-Name {
  height: 200px;
  color: #fff;
}
.Small-Name {
  height: 0px;
}
.EnterBtn {
  width: 100%;
  height: 0px;
  background-color: #57d7ff;
  overflow: hidden;
  position: absolute;
  bottom: 0px;
  text-align: center;
  line-height: 40px;
  animation-delay: 2.5s;
  animation-fill-mode: forwards;
  transition: background-color 0.5s, color 0.5s;
}
.EnterBtn:hover {
  background-color: #fff;
  color: #00799e;
  cursor: pointer;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
@-moz-keyframes Shrink-EnterBtn {
  0% {
    height: 40px;
  }
  100% {
    height: 0x;
  }
}
@-webkit-keyframes Shrink-EnterBtn {
  0% {
    height: 40px;
  }
  100% {
    height: 0x;
  }
}
@-o-keyframes Shrink-EnterBtn {
  0% {
    height: 40px;
  }
  100% {
    height: 0x;
  }
}
@keyframes Shrink-EnterBtn {
  0% {
    height: 40px;
  }
  100% {
    height: 0x;
  }
}
@-moz-keyframes Grow-EnterBtn {
  0% {
    height: 0px;
  }
  100% {
    height: 40px;
  }
}
@-webkit-keyframes Grow-EnterBtn {
  0% {
    height: 0px;
  }
  100% {
    height: 40px;
  }
}
@-o-keyframes Grow-EnterBtn {
  0% {
    height: 0px;
  }
  100% {
    height: 40px;
  }
}
@keyframes Grow-EnterBtn {
  0% {
    height: 0px;
  }
  100% {
    height: 40px;
  }
}
@-moz-keyframes Grow-NameHolder {
  0% {
    width: 0px;
    height: 0px;
  }
  50% {
    height: 0px;
    width: 200px;
  }
  100% {
    height: 200px;
  }
}
@-webkit-keyframes Grow-NameHolder {
  0% {
    width: 0px;
    height: 0px;
  }
  50% {
    height: 0px;
    width: 200px;
  }
  100% {
    height: 200px;
  }
}
@-o-keyframes Grow-NameHolder {
  0% {
    width: 0px;
    height: 0px;
  }
  50% {
    height: 0px;
    width: 200px;
  }
  100% {
    height: 200px;
  }
}
@keyframes Grow-NameHolder {
  0% {
    width: 0px;
    height: 0px;
  }
  50% {
    height: 0px;
    width: 200px;
  }
  100% {
    height: 200px;
  }
}
@-moz-keyframes Shrink-NameHolder {
  0% {
    height: 200px;
  }
  10% {
    height: 0px;
    width: 200px;
  }
  25% {
    height: 0px;
    width: 1024px;
  }
  40% {
    height: 250px;
    color: #00799e;
    border-bottom: 5px solid #fff;
  }
  80% {
    height: 250px;
  }
  90% {
    color: #00799e;
    border-bottom: 5px solid #fff;
  }
  100% {
    height: 800px;
    max-height: 800px;
    border-bottom: 5px solid rgba(255,255,255,0);
    width: 1024px;
  }
}
@-webkit-keyframes Shrink-NameHolder {
  0% {
    height: 200px;
  }
  10% {
    height: 0px;
    width: 200px;
  }
  25% {
    height: 0px;
    width: 1024px;
  }
  40% {
    height: 250px;
    color: #00799e;
    border-bottom: 5px solid #fff;
  }
  80% {
    height: 250px;
  }
  90% {
    color: #00799e;
    border-bottom: 5px solid #fff;
  }
  100% {
    height: 800px;
    max-height: 800px;
    border-bottom: 5px solid rgba(255,255,255,0);
    width: 1024px;
  }
}
@-o-keyframes Shrink-NameHolder {
  0% {
    height: 200px;
  }
  10% {
    height: 0px;
    width: 200px;
  }
  25% {
    height: 0px;
    width: 1024px;
  }
  40% {
    height: 250px;
    color: #00799e;
    border-bottom: 5px solid #fff;
  }
  80% {
    height: 250px;
  }
  90% {
    color: #00799e;
    border-bottom: 5px solid #fff;
  }
  100% {
    height: 800px;
    max-height: 800px;
    border-bottom: 5px solid rgba(255,255,255,0);
    width: 1024px;
  }
}
@keyframes Shrink-NameHolder {
  0% {
    height: 200px;
  }
  10% {
    height: 0px;
    width: 200px;
  }
  25% {
    height: 0px;
    width: 1024px;
  }
  40% {
    height: 250px;
    color: #00799e;
    border-bottom: 5px solid #fff;
  }
  80% {
    height: 250px;
  }
  90% {
    color: #00799e;
    border-bottom: 5px solid #fff;
  }
  100% {
    height: 800px;
    max-height: 800px;
    border-bottom: 5px solid rgba(255,255,255,0);
    width: 1024px;
  }
}
